.table1 {
  background-color: rgb(200, 235, 235);
  border: whitesmoke;
}
.table1 th,
td {
  padding: 15px;
  width: auto;
}
.table1 tr:nth-child(odd) {
  background: rgb(110, 106, 106);
}
.table1 tr:hover {
  background-color: yellowgreen;
}
.table1:active {
  background-color: orchid;
}
