.header {
  width: 100vw;
  height: 10vh;
  background: papayawhip;
}
.main {
  width: 100vw;
  height: 80vh;
  background: rgb(178, 99, 138);
}
.footer {
  width: 100vw;
  height: 10vh;
  background: greenyellow;
}
* {
  margin: 5px;
}
